/* top */
.sry_top{
    width: 100%;
    height: 40px;
    margin: 10px 0px 0px;
    padding-left: 35px;
  }
  .emp_h{
    line-height: 50px;
    font-size: 36px;
  }
  /* searching */
  .sry_bottom2{
    margin: auto;
    text-align: left;
    padding-left: 10px;
  }
  .btn_item2{
    box-sizing: border-box;
    display: inline-block;
    padding: 0px 20px;
    border: #f3f3f3 1px solid;
    background-color: #dcd6c693;
    margin: 15px 10px 5px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  /* pop_search_box */
  .pop_search_emp_sry{
    width: 480px;
    height: 420px;
    background-color: #d8aeae;
    border: #f3f3f3 10px solid;
    border-radius: 20px;
    position: absolute;
    left: 240px;
    top: 30px;
    padding: 30px 10px 0px;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    z-index: 11;
    display: none;
  }
   /* overLay */
   .overlay{
    width: 100%;
    height: 100%;
    background-color: #00000013;
    position: absolute;
    z-index: 10;
    display: none;
  }
  .search{
    line-height: 36px;
    font-size: 36px;
    padding-left: 30px;
    margin-bottom: 3px;
  }
  .pop_search_emp_sry hr{
    border: 3px floralwhite solid;
    margin-bottom: 15px;
  }
  .pop_search_emp_sry input, .pop_search_emp_sry select, .pop_search_emp_sry option{
    /* padding-left: 10px; */
    font-size: 20px;
    width: 150px;
    margin-bottom: 30px;
  }
  .pop_search_emp_sry option{
    height: 30px;
  }
  .pop_search_emp_sry label{
    display: inline-block;
    width: 120px;
    font-size: 20px;
  }
  .search_btn{
    text-align: right;
    margin-right: 30px;
  }
  .pop_search_emp_sry button{
    box-sizing: border-box;
    display: inline-block;
    width: 66px;
    border: #f3f3f3 2px solid;
    background-color: #98958d93;
    margin-left: 30px;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
  }
  #change_search_str_sry{
    height: 30px;
    width: 120px;
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
    position: relative;
    bottom: 5px;    
}
  /* pop_search_box_structure */
  .pop_search_str_sry{
    width: 480px;
    height: 330px;
    background-color: #d8aeae;
    border: #f3f3f3 10px solid;
    border-radius: 20px;
    position: absolute;
    left: 240px;
    top: 100px;
    padding: 30px 10px 0px;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    z-index: 11;
    display: none;
  }
  .search{
    display: inline-block;
    line-height: 36px;
    font-size: 36px;
    padding-left: 30px;
    margin-bottom: 3px;
  }
  .pop_search_str_sry button{
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    border: #f3f3f3 2px solid;
    background-color: #98958d93;
    padding: 0 10px;
    margin-left: 24px;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
  }
  #change_search_str_sry{
    height: 30px;
    width: 120px;
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
    position: relative;
    bottom: 5px;    
}
  .pop_search_str_sry hr{
    border: 3px floralwhite solid;
    margin-bottom: 15px;
  }
  .pop_search_str_sry input{
    font-size: 20px;
    padding-left: 10px;
    width: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .pop_search_str_sry label{
    display: inline-block;
    width: 120px;
    font-size: 20px;
  }
  .search_btn{
    text-align: right;
    margin-right: 30px;
  }
  
 
  /* table */
  .wrap{
    overflow:auto;
    border-radius:10px 10px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  }
  
  table{
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: 1px solid #6b675d;
    table-layout:fixed;
  }
  th{
    background-color: #6b675d;
    color:#ffffff;
    height:30px;
    font-size: 15px;
  }
  td{
    background-color:#f3f3f3;
    height:30px;
    text-align:center;
    border-top: 1px dotted #6b675d;
    border-left: 1px dotted #6b675d;
    font-size: 15px;
  }
  tr:hover td{
    background-color:#f1e6e6c2;
    
    border-top: 1px dotted #6b675d;
    border-left: 1px dotted #6b675d;
    cursor: pointer;
  }
  
  th{
    border-top: 1px dotted #ffffff;
    border-left: 1px dotted #ffffff;
  }
    
  tr:last-of-type{
    border-bottom: 2px solid #6b675d;
  }
  
  /* buttom */
  .sry_bottom1{
    margin: auto;
    text-align: center;
  }
  
  .btn_item1{
    box-sizing: border-box;
    display: inline-block;
    padding: 0px 20px;
    border: #f3f3f3 1px solid;
    background-color: #dcd6c693;
    margin: 5px 24px 0px;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
  }
#line1{
    width: 990px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}
  /* 底部個別員工詳細架構資料 */
  .detail_data{
    padding-right: 40px;
    text-align: center;
    margin-top: 2px;
    /* align-content: center; */
  }
  .detail_data label{
    vertical-align:middle;
    box-sizing: border-box;
    display: inline-block;
    line-height: 45px;
    font-size: 18px;
    padding: 0px 20px 0px;
}
.detail_data input{
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 210px;
    height: 30px;
    border-radius: 10px;
    border: #6b675d 1px solid;
    background-color: #ededed;
}
.middle{
    /* display: flex; */
    
    padding-left: 40px;
    /* padding-top: 10px; */
    padding-bottom: 0px;
}
.middle label{
    vertical-align:middle;
    box-sizing: border-box;
    display: inline-block;
    line-height: 45px;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
}
.middle input{
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: #6b675d 1px solid;
    background-color: #ededed;
  }
.sry_bottom3{
    margin: auto;
    text-align: center;
    /* padding-left: 10px; */
    margin-top: 0px;
  }
.btn_item3{
    box-sizing: border-box;
    display: inline-block;
    padding: 0px 20px;
    border: #f3f3f3 1px solid;
    background-color: #dcd6c693;
    margin: 1px 10px 5px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
  }